<h2>Available Instructor Actions</h2>
<p>
  <button type="button" class="button secondary tiny" onclick="performOperation('deploy_workstations');">Deploy student workstations</button>
  <button type="button" class="button secondary tiny" onclick="performOperation('deploy_chef_server');">Deploy Chef Server</button>
  <button type="button" class="button secondary tiny" onclick="performOperation('deploy_first_nodes');">Deploy first standalone nodes</button>
  <button type="button" class="button secondary tiny" onclick="performOperation('deploy_multi_nodes');">Deploy remaining nodes</button>
</p>
<p>
  <button type="button" class="button secondary tiny" onclick="performOperation('refresh_portal');">Refresh this portal instance</button>
</p>
  <button type="button" class="button secondary tiny" onclick="performOperation('destroy_workstations');">Destroy student workstations</button>
  <button type="button" class="button secondary tiny" onclick="performOperation('destroy_lab');">Destroy the entire lab environment</button>
</p>
